watch_file .tool-versions

use_asdf
asdf_has golang || asdf plugin add golang
asdf_has python || asdf plugin add python
asdf install

has pipx || use pipx
has pre-commit || pipx install pre-commit
has detect-secrets || pipx install detect-secrets

use pre-commit
