watch_file .tool-versions

asdf_has golang || asdf plugin add golang
asdf_has python || asdf plugin add python
asdf install | sed '/is already installed/d'
use_asdf

has pipx || use pipx
has pre-commit || pipx install pre-commit
has detect-secrets || pipx install detect-secrets

use pre-commit
